article{
    @include border-radius( 0.25em );

    width: $application-width;
    min-width: $application-min-width;
    margin: auto;
    padding: 1em;

    background-color: $standard;

    @include respond-to( medium ){
        width: 60%
    }

    @include respond-to( small ){
        width: 99%;
    }
}
