body div#main{
    width: 50%;
    max-width: 825px;
    min-width: 250px;

    margin: auto;

    @include respond-to( medium ){
        width: 75%;
    }

    @include respond-to( small ){
        width: 100%;
    }
}
