button{
    @include border-radius( 4px );
    @include no-focus-outline();

    border: 1px solid $struts;
    padding: 0.3em 0.5em;
    outline: none;
}

button[type="submit"],
input[type="submit"]{
    float: right;
    cursor: pointer;

    font-size: 1.5em;

    &:hover{
        background-color: $okay;
    }
}
