.more{
    margin-left: 1.2em;
}

.issue{
    background-color: transparentize( $error, 0.75 );

    hr{
        border-bottom: 1px solid $error;
    }
}

.keyval{
    margin: 0.25em 0 1em 0;

    & .editable{
        border-bottom: 1px solid $struts;

        overflow: hidden;
        white-space: nowrap;

        &>span{
            display: inline-block;
            padding: 0.25em;
        }

        & .editable-controls{
            padding: 0.25em;
            width: 1.5em;

            float: left;
        }
    }
}
