body > header{
    background-color: $dark;

    margin: auto auto 1.5em;
    min-width: $application-min-width;
    height: 5em;

    h1, h2, h3, h4, h5, h6{
        text-align: center;
        color: $text-highlight;
    }

    img{
        @include border-radius( 0.25em );

        float: left;
        margin: auto -6em auto 6em;
    }
}

#logo-container{
    @include border-radius( 0.25em );
    padding: 0.5em 1em;
    margin: 1em;
    float: left;

    background-color: make-dull( $primary );
    color: $text-on-dark;

    span, i{
        vertical-align: middle;
        display: inline-block;
    }

    cursor: pointer;
}

#account-container{
    height: 100%;
    padding: 0.5em 1em;
    margin: 0;
    float: right;

    background-color: make-dull( $primary );
    color: $text-on-dark;

    line-height: 4em;
    vertical-align: middle;

    span, i{
        vertical-align: middle;
        display: inline-block;
    }

    cursor: default;
}

.aux-view-hdr{
    margin-bottom: 1.5em;
}
