header{
    background-color: $dark;
    padding: 1em;
    margin: auto auto 1.5em;

    h1, h2, h3, h4, h5, h6{
        text-align: center;
    }

    img{
        @include border-radius( 0.25em );

        float: left;
        margin: auto -6em auto 6em;
    }
}

section{
    > h1{
        text-align: left;
        padding: 0.25em 0.25em 0 0.25em;
        background-color: $dark;
    }

    h1 + hr{
        margin: -1em 0 1em;
    }
}

#logo-container{
    @include border-radius( 0.25em );
    padding: 0.5em 1em;
    background-color: make-dull( $primary );
    color: $text-on-dark;

    span, i{
        vertical-align: middle;
        display: inline-block;
    }

    cursor: pointer;
    float: left;
}

#account-container{
    @extend #logo-container;

    float: right;
    cursor: default;
}
