section{
    background-color: $reading;
    margin: 1em auto 0;
    text-align: left;
    line-height: 1.5;

    overflow: hidden;

    @include border-radius( 0.4em );
}

section > div:first-of-type{
    padding: 1em;
}

article > section:first-of-type{
    margin-top: 0em;
}
