@import url(http://fonts.googleapis.com/css?family=Droid+Sans:400,700);

*{
    color: $readingText;
    font-family: 'Droid Sans', sans-serif;
}

h1{
    font-size: 3em;
}

h2{
    font-size: 2em;
}

h1, h2, h3, h4, h5, h6{
    text-align: center;
}

.highlight{
    color: $highlightText;
}

@import "../../vendor/font-awesome/scss/font-awesome.scss";
