<div class="editable" data-ns="profile">
    <div class="editable-key">
        <span data-key="username">Username</span>
    </div>
    <div class="editable-value clear">
        <div class="editable-controls">
            <i class="fa fa-pencil"></i>
        </div>
        <span><%= user.username %></span>
    </div>
</div>
<div class="editable" data-ns="profile">
    <div class="editable-key">
        <span data-key="password">Password</span>
    </div>
    <div class="editable-value clear">
        <div class="editable-controls">
            <i class="fa fa-pencil"></i>
        </div>
        <span>**********</span>
    </div>
</div>
<div class="editable" data-ns="profile">
    <div class="editable-key">
        <span data-key="firstName">First Name</span>
    </div>
    <div class="editable-value clear">
        <div class="editable-controls">
            <i class="fa fa-pencil"></i>
        </div>
        <span><%= user.firstName %></span>
    </div>
</div>
<div class="editable" data-ns="profile">
    <div class="editable-key">
        <span data-key="email">Email</span>
    </div>
    <div class="editable-value clear">
        <div class="editable-controls">
            <i class="fa fa-pencil"></i>
        </div>
        <span><%= user.email %></span>
    </div>
</div>
