<div class="keyval">
    <div>
        <span>Username</span>
    </div>
    <div class="editable clear">
        <div class="editable-controls">
            <i class="fa fa-pencil"></i>
        </div>
        <span><%= user.username %></span>
    </div>
</div>
<div class="keyval">
    <div>
        <span>Password</span>
    </div>
    <div class="editable clear">
        <div class="editable-controls">
            <i class="fa fa-pencil"></i>
        </div>
        <span>**********</span>
    </div>
</div>
<div class="keyval">
    <div>
        <span>First Name</span>
    </div>
    <div class="editable clear">
        <div class="editable-controls">
            <i class="fa fa-pencil"></i>
        </div>
        <span><%= user.firstName %></span>
    </div>
</div>
<div class="keyval">
    <div>
        <span>Email</span>
    </div>
    <div class="editable clear">
        <div class="editable-controls">
            <i class="fa fa-pencil"></i>
        </div>
        <span><%= user.email %></span>
    </div>
</div>
